.contact-us__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.contact-us__box {
  margin-top: 90px;
  height: 40px;
}
.contact-us__text, .contact-us__link {
  font-size: 13px;
  text-decoration: none;
}
.contact-us__link {
  color: #005db4;
}
