@media screen and (max-width: 700px) {
  .gear-header__note {display: none!important;}
  .burger__box {display: block;}
  .burger__box_bottom {display: block;}
  .gear-header__cross {height: 40px!important;}
  .header-menu__container {width:90%; left: 0; top:0;}
  .header-menu__list {display: none!important;}
  .scroll-bar__item_container {margin-left: 250px; margin-right: 250px;}
  .map__form_main {left: 40px; right: 40px;}
  .goods-container {width:100%;}
  .goods-container__item {width: 50%;}
  .news__container {width:100%;}
  .tuning-center__container {width:100%;}
  .type-note__container {width:100%;}
  .gallery__container {width:100%;}
  .gallery__container_line {flex-wrap: wrap;}
  .gallery__container_item {width: 45%; margin-top: 50px;}
  .our-team__container_member {padding: 35px 10px;}
  .blue-line__content {flex-direction: column;}
  .blue-line__content_button {width: 80%; margin-left: auto; margin-right: auto; margin-top: 20px;}
  .footer__container_blog {width:100%; padding-left: 30px;}
  .footer__navbar {width:90%; left:0!important;}
  .footer-menu__list_link {display: none;}
  .contact-us__container {width:100%; margin-left: auto; margin-right: auto;}
  .products__container_main {width: 100%; flex-direction: column;}
  .products__item-list {order:0; width:100%;}
  .products__menu_container {width: 100%;}
  .products__item-list_goods-item-container {width:100%; margin-top:50px;}
  .products__item-list_selection {width: 50%;}
  .news__container_flex {width: 100%; flex-direction: column;}
  .news__item_container {width: 100%!important; order:1;}
  .new__container_scroll-buttons {width: 100%; order:0;}
  .contact-us__box {margin-left: 40px;}
}
