@media screen and (max-width: 1240px) {
  .header-menu__container {width:84%; left: 8%; right: 8%;}
  .gear-header__note {width:84%;}
  .header__search-bottom_container {width:84%; margin-left: auto; margin-right: auto;}
  .header-menu__dropdown_blog-container {left: -430px !important;}
  .goods-container {width:84%; margin-left: auto; margin-right: auto;}
  .news__container {width:84%; margin-left: auto; margin-right: auto;}
  .tuning-center__container {width:84%; margin-left: auto; margin-right: auto;}
  .type-note__container {width:84%; margin-left: auto; margin-right: auto;}
  .gallery__container {width:84%; margin-left: auto; margin-right: auto;}
  .our-team__container_main {width:84%; margin-left: auto; margin-right: auto;}
  .footer__container_blog {width:84%; margin-left: auto; margin-right: auto;}
  .contact-us__container {width:84%; margin-left: auto; margin-right: auto;}
}
